html[buildfire="widget"] {
  padding-top: 0 !important;
}

#mainPage {
  height: 100% !important;
  overflow: scroll;
}

#mainPage .mdc-card {
  position: sticky;
  flex-direction: row !important;
  height: 2.5rem;
  margin: 1rem;
  padding: 0.25rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.16) !important;
  z-index: 10;
  top: 1em;
}
#mainPage .search-container input {
  border: none;
  border-radius: 4px;
  width: 100%;
  margin: 0 0.25rem;
}
#mainPage .search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.icon {
  color: var(--bf-theme-footer-icon);
}

#my_sub_container_div {
  padding: 1rem;
}

#mainPage .owl-carousel .owl-item img {
  width: 100% !important;
}
#mainPage #carousel {
  min-height: 200px !important;
}

#mainPage #listViewContainer .listViewItem img {
  border-radius: 4px !important;
}

#listViewContainer {
  padding: 0 !important;
}

#my_container_div {
  padding: 1rem;
}

/* sub page */
#subPage {
  position: relative;
}
#subPage .images-container {
  position: relative;
  height: 15rem;
}
#subPage #listImage {
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  top: 7.1rem;
  left: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.5rem var(--c-gray4);
}

#subPage .info-container {
  display: block;
  margin: 1.5rem 1rem;
}

#subPage .info-container #title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 1.5rem 0 0.5rem;
}

#subPage .info-container #subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 1.5rem;
}

#empty_state {
  height: 80%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#full_state {
  /* height: 100%; */
  width: 100%;
}

.hidden {
  display: none !important;
}
/* ---------------------- */
#skeleton,
#skeleton2,
#skeleton3 {
  position: absolute;
  top: 70px;
  z-index: 10;
}
#skeletonSort {
  display: block;
}
#skeleton2 {
  top: 0 !important;
  padding: 0;
}
.carouse-loading {
  width: 375px;
  height: 211px;
}
.content-loading,.content-loadingSort{
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  padding-right: 27px;
  align-items: center;
}
.content-loadingSort {
  position: relative !important;
}
.listImage-loading {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 4px;
}
.item-loading {
  width: 291px;
  height: 16px;
  border-radius: 16px;
}

.loading-coverImage {
  width: 375px;
  height: 211px;
}
.loading-listImage {
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  top: 7.1rem;
  left: 1rem;
  background: #f9fcfc;
  box-shadow: 0px 2px 8px rgba(118, 118, 118, 0.25);
  border-radius: 4px;
}
.loading-info-container {
  padding: 0.5rem;
}
.loading-title {
  width: 343px;
  height: 24px;
  border-radius: 57px;
  margin: 1.5rem 0 0.5rem;
}
.loading-subtitle {
  width: 172px;
  height: 16px;
  border-radius: 57px;
  margin-bottom: 1.5rem;
}
.loading-description {
  width: 343px;
  height: 200px;
  border-radius: 8px;
}

.animation-loading {
  background: #eee;
  background: linear-gradient(90deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  -webkit-animation: 1s shine linear infinite;
  animation: 1s skeleton linear infinite;
}

@keyframes skeleton {
  to {
    background-position-x: -200%;
  }
}

#listViewLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}
#listViewLoading embed {
  width: 15%;
}
