.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--c-white);
}

.sticky-thead {
  border-left: 5px solid white;
  box-shadow: -50px 0px 5px white;
  padding: 0 !important;
  position: sticky;
  top: 8em;
  z-index: 10;
  background-color: var(--c-white);
} 

/*.table-row {
  height: 100vh;
  overflow: scroll;
  position: relative;
  padding: 0 0.5px !important;
}*/

.table tbody td .pull-right .bf-btn-icon {
  width: 40px;
  height: 40px;
  font-size: larger !important;
}

.table tbody td .pull-right .bf-btn-icon:hover {
  background-color: var(--c-gray1);
}

.table tbody td .pull-right .bf-btn-icon:hover .icon-pencil {
  color: var(--c-primary);
}

.table tbody td .pull-right .bf-btn-icon:hover .icon-cross2 {
  color: var(--c-danger);
}

.table tbody td img {
  width: 40px !important;
  height: 40px !important;
}

.empty-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 0 !important;
}

.search-btn {
  padding-right: 0 !important;
}

#titleSort:hover {
  cursor: pointer;
}

.sub-page
  > .container
  > .row
  > .col-md-4
  > .thumbnail-picker
  > .item
  > .main
  > .screens
  > .screen {
  width: 96px !important;
  height: 96px !important;
}

.sub-page
  > .container
  > .row
  > .col-md-4
  > .thumbnail-picker2
  > .item
  > .main
  > .screens
  > .screen {
  width: 96px !important;
  height: 96px !important;
}

.sub-page h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

#loading-state {
  height: 40vh !important;
}

#empty-state {
  height: 40vh !important;
}

#empty-state > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail-picker2 > .item {
  margin-right: 30vw !important;
}

.active{
  color: var(--c-success) !important;
}
.iconSort{
  color: rgba(190, 188, 188, 0.754);
}

.hidden {
  visibility: hidden !important;
}

th:hover{
  /* background-color: var(--c-gray1); */
  cursor: pointer;
}
th h5:hover{
  color: var(--c-gray4);
  
}

th:first-child:hover,th:last-child:hover{
  cursor: default;
  
}