#contentBody .sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--c-white);
}

#contentBody .sticky-thead {
  border-left: 5px solid white;
  box-shadow: -50px 0px 5px white;
  padding: 0 !important;
  position: sticky;
  top: 9em;
  z-index: 10;
  background-color: var(--c-white);
}

/*.table-row {
  height: 100vh;
  overflow: scroll;
  position: relative;
  padding: 0 0.5px !important;
}*/

#contentBody .table tbody td .pull-right .bf-btn-icon {
  width: 40px;
  height: 40px;
  font-size: larger !important;
}

#contentBody .table tbody td .pull-right .bf-btn-icon:hover {
  background-color: var(--c-gray1);
}

#contentBody .table tbody td .pull-right .bf-btn-icon:hover .icon-pencil {
  color: var(--c-primary);
}

#contentBody .table tbody td .pull-right .bf-btn-icon:hover .icon-cross2 {
  color: var(--c-danger);
}

#contentBody .table tbody td img {
  width: 40px !important;
  height: 40px !important;
}

#contentBody .empty-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contentBody .search-input {
  padding: 0 !important;
}

#contentBody .search-btn {
  padding-right: 0 !important;
}

#contentBody #titleSort:hover {
  cursor: pointer;
}

#contentBody
  .sub-page
  > .container
  > .row
  > .col-md-4
  > .thumbnail-picker
  > .item
  > .main
  > .screens
  > .screen {
  width: 96px !important;
  height: 96px !important;
}

#contentBody
  .sub-page
  > .container
  > .row
  > .col-md-4
  > .thumbnail-picker2
  > .item
  > .main
  > .screens
  > .screen {
  width: 96px !important;
  height: 96px !important;
}

#contentBody .sub-page h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

#contentBody .link,
.subTitle-ellipsis {
  overflow: hidden;
  width: 13em;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#contentBody #loading-state {
  height: 40vh !important;
}

#contentBody #empty-state {
  height: 40vh !important;
}

#contentBody #empty-state > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contentBody .thumbnail-picker2 > .item {
  margin-right: 30vw !important;
}

#contentBody span.active {
  color: var(--c-info) !important;
}

#contentBody .iconSort {
  color: rgba(190, 188, 188, 0.754);
}

#contentBody .hidden {
  visibility: hidden !important;
}

#contentBody th:hover {
  /* background-color: var(--c-gray1); */
  cursor: pointer;
}

#contentBody th h5:hover {
  color: var(--c-gray4);
}

#contentBody th h5:hover span,
.active {
  color: var(--c-gray4) !important;
}

#contentBody th:first-child:hover,
#contentBody th:last-child:hover {
  cursor: default;
}

#contentBody .align-middle {
  vertical-align: middle !important;
}

#contentBody td {
  vertical-align: middle !important;
}

#contentBody td > p {
  margin: 0 !important;
}

#contentBody th > h5 {
  font-weight: 700 !important;
}

#contentBody td div .btn {
  display: inline-flex !important;
}
