.table tbody td .pull-right .bf-btn-icon:hover {
  background-color: #f2f2f2;
}

.table tbody td .pull-right .bf-btn-icon:hover .icon-pencil {
  color: #05acf0;
}
.table tbody td .pull-right .bf-btn-icon:hover .icon-cross2 {
  color: #ed4b4b;
}

.empty-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  padding: 0 !important;
}
.search-btn {
  padding-right: 0 !important;
}

#titleSort:hover {
  cursor: pointer;
}
