.searchContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 25px);
    margin-left: 11px;
    border: 1px solid #E5E5E5;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
}
.searchContainer > span{
    margin-left: 10px;
}
.searchContainer > p{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 0px;
}
.searchContainer > input{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 2px;
}