#languageBody .subTitle {
  margin-bottom: 25px;
  font-style: italic;
}

#languageBody .hidden {
  display: none;
}

#languageBody #deleteButton {
  padding-right: 25px;
  margin-top: 5px;
}

#languageBody label {
  color: #5f5f5f;
  width: 20% !important;
}

#languageBody .form-group {
  display: flex;
}

#languageBody input {
  margin-left: 20% !important;
  margin-right: 5% !important;
  width: 60% !important;
  color: rgb(0, 0, 0) !important;
}
